<a href="https://colab.research.google.com/github/DiogoConcerva/Curso-Next-Cesar-School/blob/main/Aula_04_Vetores_e_Estruturas_de_Repeti%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.cesar.school/wp-content/uploads/2019/09/marca_cesar_school.png" alt="drawing" width="200"/>

# Python - **Aula 04**

---

- Vetores
- Estruturas de Repetição

# Vetores


Variáveis são incríveis, mas as vezes você precisa de mais:
- Lista de filmes que você quer assistir;
- Lista de compras no supermercado;
- Lista de convidados em uma festa;

Para todos esses casos é difícil dizer com precisão quantas variáveis precisariam ser criadas. Neste caso podemos usar uma estrutura de dados chamada **lista** (ou *array*).

Listas também são usadas quando desejamos agrupar vários valores de um mesmo contexto:
- Notas dos estudantes de uma turma;
- Catálogo de livros em uma biblioteca;

Nesses casos, a quantidade não é o mais importante, mas sim a facilidade de ter agrupado valores de um mesmo tipo.

## Listas

### Tipo `list`

> Coleções de itens em uma ordem específica.
> *Ex.: Letras do alfabeto, números de 0 a 100, produtos de um supermercado...*

# Criando uma lista

Listas são criadas de forma semelhate ao de uma variável comum, mas a ela é atribuída valores diversos, usando colchetes `[]`

In [ ]:
# Lista de convidados
l = ['Diogo', 'Gabriela', 'Valentina']
print(l)

['Diogo', 'Gabriela', 'Valentina']

# Exibindo uma lista

Como listas são coleções ordenadas, é possível acessar qualquer um dos seus itens armazenados se você indicar a posição (índice) deles.

> Obs.: Os índices sempre começam a ser contados do 0.

![image.png]()

In [ ]:
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']

# primeiro elemento
print(convidados[0])

# segundo elemento
print(convidados[1])

# último elemento
print(convidados[-1])

# penúltimo elemento
print(convidados[-2])

# tamanho primeiro índice
print(len(convidados[0]))

# primeira letra do primeiro índice
print(convidados[0][0])

José
Lucas
Valentina
Enzo
4
J

# Alterando uma lista

Em Python, **listas são dinâmicas**, ou seja, é possível alterar seus valores.

In [ ]:
# substituindo o primeiro convidado
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']

convidados[0] = 'Diogo'
print(convidados)

['Diogo', 'Lucas', 'Ana', 'Enzo', 'Valentina']

# Acrescentando e removendo itens

As listas podem crescer ou diminuir com o tempo, por isso, é importante aprender como adicionar e remover elementos.

## Concatenando no final da lista

`append(elem)`

In [ ]:
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']

convidados.append('Paulo')
print(convidados)

['José', 'Lucas', 'Ana', 'Enzo', 'Valentina', 'Paulo']

## Adicionando em qualquer posição

`insert(pos, elem)`

In [ ]:
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
convidados.insert(3, 'Diogo')
print(convidados)

['José', 'Lucas', 'Ana', 'Diogo', 'Enzo', 'Valentina']


## Removendo um elemento específico

`del(lista[pos])`

In [ ]:
# apaga a varável
'''nome = 'Diogo'
print(nome)
del(nome)
print(nome)'''

print(convidados)
del(convidados[2])
print(convidados)

['José', 'Lucas', 'Ana', 'Diogo', 'Enzo', 'Valentina']
['José', 'Lucas', 'Diogo', 'Enzo', 'Valentina']

## Removendo o último elemento (ou algum elemento por posição)

`elem_removido = lista.pop()`

`elem_removido = lista.pop(pos)`

In [ ]:
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
print(convidados)
removido = convidados.pop(1)
print(convidados)
print(removido)
convidados.pop() # remove o último elemento
print(convidados)

['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
['José', 'Ana', 'Enzo', 'Valentina']
Lucas
['José', 'Ana', 'Enzo']

## Removendo elemento por busca

`lista.remove(elem)`

In [ ]:
print(convidados)
convidados.remove('José')
print(convidados)

['José', 'Diogo', 'Valentina']
['Diogo', 'Valentina']

# Organizando listas

Muitas vezes, é necessário ter as lista ordenadas. Quando uma lista é extaída a partir da entrada de um usuário, é comum que ela venha fora de ordem.

## Ordem alfabética (definitiva)

```
lista.sort()
```

```python
lista.sort(reverse=True)
```

> Obs.: *Desta forma, a lista é modificada*

In [ ]:
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
print(convidados)
# convidados.sort()
convidados.sort()
print(convidados)
convidados.sort(reverse=True)
print(convidados)

['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
['Ana', 'Enzo', 'José', 'Lucas', 'Valentina']
['Valentina', 'Lucas', 'José', 'Enzo', 'Ana']

## Ordem alfabética (visualização)

```python
nova_lista = sorted(lista)
```

```python
nova_lista = sorted(lista, reverse=True)
```

> Obs.: Tanto a função `sort()` quanto a `sorted()` só ordenam listas que tenham números ou strings, mas não ambos ao mesmo tempo. Para isso, seria necessário usar a função `str()` para converter os números em strings.

In [ ]:
# sorted é uma cópia da lista
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
print(convidados)
l = sorted(convidados)
print(convidados)
print(l)

['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
['Ana', 'Enzo', 'José', 'Lucas', 'Valentina']

## Invertendo a ordem de inserção

```python
lista.reverse()
```

In [ ]:
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
print(convidados)
convidados.reverse()
print(convidados)

['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
['Valentina', 'Enzo', 'Ana', 'Lucas', 'José']

# Outros métodos úteis

In [ ]:
convidados = ['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
print(convidados)

# tamanho de uma lista
print(len(convidados))

# criar lista de números
# criar de 1 - 100
print(list(range(-5, 10)))

# menor valor da lista
n = [10, 11, 5, 20, 23]
print(min(n))

# maior valor da lista
print(max(n))

# fatia de uma lista
print(convidados[:3])
# criar uma cópia de uma lista
copia = convidados[:]
convidados.remove('Enzo')
print(convidados)
print(copia)

# somar todos os elementos de uma lista (números)
print(sum(n))

['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
5
[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
5
23
['José', 'Lucas', 'Ana']
['José', 'Lucas', 'Ana', 'Valentina']
['José', 'Lucas', 'Ana', 'Enzo', 'Valentina']
69

# Estruturas de Repetição

Em Python, é possível controlar o fluxo de execução de um código com estruturas de repetição

In [ ]:
lista = ['item1', 'item2', 'item3', 'item4', 'item5']

print(lista[0] + ' é um item dessa lista')
print(lista[1] + ' é um item dessa lista')
print(lista[2] + ' é um item dessa lista')
print(lista[3] + ' é um item dessa lista')
print(lista[4] + ' é um item dessa lista')

## `For`

Essa estrutura é um iterador, ou seja, ele percorre itens que estão em sequência, tais como listas ou strings.



```python
for item in objeto:
  # código que vai repetir
```

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for n in numeros:
  print(n, end=' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
#range(1, 100)
# _ variável que não vai ser usada para nada
for n in range(0, 10, 2):
  print(n)

0
2
4
6
8

In [ ]:
# if
# Exibir todos os números pares contidos de 1 a 100
for n in range(0, 100, 2):
  print(n, end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [ ]:
# string
for c in 'Diogo':
  print(c)

D
i
o
g
o

## While

Essa estrutura permite repetir um trecho de código enquanto uma condição for verdadeira



```python
while condição:
  # código que vai repetir
```

In [ ]:
n = 0
while n <= 10:
  print(n, end=' ')
  n += 1

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
# Exibir um número x, até que a soma de todos os números exibidos seja 100
x = 0
soma = 0
while soma <= 100:
  soma += x
  x += 1
print(x)

15

In [ ]:
# else
x = 0
soma = 0
while soma <= 100:
  soma += x
  x += 1
  print(x)
else:
  print('Parou')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
Parou

## Break, continue, pass

- `break`: Para um loop
- `continue`: Vai para o próximo loop
- `pass`: não faz nada



```python
while condição:
  # código
  if teste1:
    break
  if teste2:
    continue
  else:
    pass
else:
  pass
```

In [ ]:
'''
Imagine que você tem um problema no qual precisa somar todos os números
múltiplos de 3 até 1000, ou até a soma ultrapassar 300. Se caso o número
seja múltiplo de 3 deve ser exibido "Buscando...". Mas caso o número seja
múltiplo de 5, nada deve ser exibido.
'''

soma = 0
x = 0

while x < 1000:
  x += 1

  if (x % 3) == 0:
    print(x)
    soma += x
  else:
    if (x % 5) == 0:
      pass
    else:
      print('Buscando...')
      continue
  
  if soma > 300:
    print(soma)
    break

Buscando...
Buscando...
3
Buscando...
6
Buscando...
Buscando...
9
Buscando...
12
Buscando...
Buscando...
15
Buscando...
Buscando...
18
Buscando...
21
Buscando...
Buscando...
24
Buscando...
27
Buscando...
Buscando...
30
Buscando...
Buscando...
33
Buscando...
36
Buscando...
Buscando...
39
Buscando...
42
315

# Exercícios Fundamentais

1. Faça um programa que leia 5 números e informe o maior número.

In [ ]:
numeros = 0
l = []
while numeros < 5:
  l.append(float(input(f'Informe o {numeros + 1}º número: ')))
  numeros += 1
print(f'O maior número é {max(l)}.')

Informe o 1º número: 1
Informe o 2º número: 2
Informe o 3º número: 3
Informe o 4º número: 4
Informe o 5º número: 5
O maior número é 5.0.

2. Crie uma lista de locais que você gostaria de conhecer no mundo, na ordem do local que você dá mais prioridade pra o local que você dá menos prioridade. Exiba a lista nas seguintes configurações:

a) ordem original<br/>
b) ordem alfabética<br/>
c) ordem de prioridades inversa<br/>
d) quantidade de itens

In [ ]:
l = ['Taj Mahal', 'Grand Canyon', 'Parque Nacional de Yellowstone', 'Chapada dos Veadeiros', 'Coliseu', 'Parque do Jalapão']
print(f'Ordem original: {l}')
l.sort()
print(f'Ordem alfabética: {l}')
l.sort(reverse=True)
print(f'Ordem de prioridade inversa: {l}')
print(f'Quantidade de itens: {len(l)}')

Ordem original: ['Taj Mahal', 'Grand Canyon', 'Parque Nacional de Yellowstone', 'Chapada dos Veadeiros', 'Coliseu', 'Parque do Jalapão']
Ordem alfabética: ['Chapada dos Veadeiros', 'Coliseu', 'Grand Canyon', 'Parque Nacional de Yellowstone', 'Parque do Jalapão', 'Taj Mahal']
Ordem de prioridade inversa: ['Taj Mahal', 'Parque do Jalapão', 'Parque Nacional de Yellowstone', 'Grand Canyon', 'Coliseu', 'Chapada dos Veadeiros']
Quantidade de itens: 6

3. Crie uma lista com os preços dos jogos que você mais gosta.

a) Imprima o preço mais caro;<br/>
b) Imprima o preço mais barato.

In [ ]:
l = [69.99, 110.56, 29.90, 200.05, 55.44]
print(f'O mais caro é R$ {max(l)}.')
print(f'O mais barato é R$ {min(l)}.')

O mais caro é R$ 200.05.
O mais barato é R$ 29.9.

4. escrever um programa em Python que leia um vetor V1 de n posições e gere um vetor V2 de tamanho n que é o vetor V1 invertido.

In [ ]:
v1 = []
v2 = []
while True:
  v1.append(input('Entre com informações para o vetor V1: '))
  escolha = input('Deseja continuar [S/N]? ').upper()
  if(escolha == 'N'):
    break
v2 = v1[:]
v2.reverse()
print(f'Ordem de entrada do V1: {v1}')
print(f'Ordem de invertida no V2: {v2}')

Entre com informações para o vetor V1: 1
Deseja continuar [S/N]? s
Entre com informações para o vetor V1: 2
Deseja continuar [S/N]? s
Entre com informações para o vetor V1: 3
Deseja continuar [S/N]? n
Ordem de entrada do V1: ['1', '2', '3']
Ordem de invertida no V2: ['3', '2', '1']

5. Faça um programa que imprima na tela apenas os números ímpares entre 1 e 50.

In [ ]:
print('Os números ímpares de 1 a 50 são:',end=' ')
for n in range(1, 50, 2):
  print(n, end=' ')

Os números ímpares de 1 a 50 são: 1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

6. Faça um programa que recebe um número de 1 a 10 do usuário e imprime a tabuada de multiplicação desse número

In [ ]:
tabuada = int(input('Qual tabuada deseja estudar: '))
print('=-' * 30)
for numero in range(0, 11):
  print(tabuada, 'X', numero, '=', tabuada * numero)
print('=-' * 30)

Qual tabuada deseja estudar: 8
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
8 X 0 = 0
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

7. Faça um programa que recebe do usuário 10 valores de números inteiros, armazena em um vetor e apos percorre-lo exibe qual é o maior valor e a sua posição.

In [ ]:
l = []
maior = posicao = 0
for n in range(0, 10):
  l.append(int(input(f'Informe o {n + 1}º número: ')))
  if n == 0:
    maior = l[n]
    posicao = n
  elif(l[n] > maior):
    maior = l[n]
    posicao = n
print(f'O maior valor é {maior} que está na posição {posicao} da lista.')

Informe o 1º número: 4
Informe o 2º número: 9
Informe o 3º número: 36
Informe o 4º número: 58
Informe o 5º número: 1
Informe o 6º número: 6
Informe o 7º número: 22
Informe o 8º número: 25
Informe o 9º número: 10
Informe o 10º número: 12
O maior valor é 58 que esta na posição 3

# Exercícios de Aprofundamento

1. Faça um programa que peça uma nota, entre zero e dez. Mostre uma mensagem caso o valor seja inválido e continue pedindo até que o usuário informe um valor válido.

In [ ]:
while True:
  nota = float(input('Informe uma nota entre 0 e 10: '))
  if(0 <= nota <= 10):
    print('Nota cadastrada com sucesso.')
    break
  else:
    print('Nota inválida, digite novamente.')

Informe uma nota entre 0 e 10: 11
Nota inválida, digite novamente.
Informe uma nota entre 0 e 10: 10.1
Nota inválida, digite novamente.
Informe uma nota entre 0 e 10: -0.1
Nota inválida, digite novamente.
Informe uma nota entre 0 e 10: 5
Nota cadastrada com sucesso.

2. Faça um programa que leia um nome de usuário e a sua senha e não aceite a senha igual ao nome do usuário, mostrando uma mensagem de erro e voltando a pedir as informações.

In [ ]:
while True:
  nome = input('Informe o nome de usuário: ')
  senha = input('Informe a senha de usuário: ')
  if(senha == nome):
    print('Nome de usuário deve ser diferente da senha, tente novamente.')
  else:
    print('Cadastro realizado com sucesso.')
    break

Informe o nome de usuário: diogo
Informe a senha de usuário: diogo
Nome de usuário deve ser diferente da senha, tente novamente.
Informe o nome de usuário: Diogo
Informe a senha de usuário: diogo
Cadastro realizado com sucesso.

3. Encontrar números primos é uma tarefa difícil. Faça um programa que gera uma lista dos números primos existentes entre 1 e um número inteiro informado pelo usuário.

In [ ]:
numeroPrimo = int(input('Informe até que número deseja encontrar os números primos: '))
lista = list(range(1, numeroPrimo + 1))
p = []
total = 0
t = len(lista)
while t > 0:
    for c in range(len(lista), 0, -1):
        if(lista[-1] % c == 0):
            total += 1
    if(total == 2):
        p.append(lista[-1])
    lista.pop()
    total = 0
    t -= 1
del(lista)
p.sort()
print(p)

Informe até que número deseja encontrar os números primos: 31
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

4. Faça um programa que calcule o mostre a média aritmética de N notas.

In [ ]:
l = []
while True:
  l.append(float(input('Informe a nota: ')))
  escolha = input('Deseja continuar [S/N]: ').upper()
  if escolha == 'N':
    break
print(f'Você informou {len(l)} notas e a média delas é {sum(l) / len(l)}')

Informe a nota: 10
Deseja continuar [S/N]: s
Informe a nota: 5
Deseja continuar [S/N]: s
Informe a nota: 4.8
Deseja continuar [S/N]: s
Informe a nota: 0
Deseja continuar [S/N]: n
Você informou 4 notas e a média delas é 4.95